<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontend</title>
    <!-- google fonts  -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- jquery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/discover.js"></script>
    <link href="css/discover.css" rel="stylesheet" media="screen,projection" />

    <!-- leafletjs -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav class="blue accent-1">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="margin-left: 20px"
          >Be Aware of Climate Changes</a
        >
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li><a href="/charity">Charity</a></li>
          <li><a href="#">Donation</a></li>
          <li><a href="#">Admin Login</a></li>
          <li><a href="#">Sign Up</a></li>
          <li id="login-box">
            <a class="waves-effect waves-light btn" href="/login">Log In</a>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav blue accent-1" id="mobile-demo">
      <li><a href="/charity">Charity</a></li>
      <li><a href="#">Donation</a></li>
      <li><a href="#">Admin Login</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a class="waves-effect waves-light btn" href="/login">Log In</a></li>
    </ul>
    <main>
      <ul id="discover-tabs" class="tabs tabs-fixed-width z-depth-1">
        <li class="tab"><a href="#discover-tab">Discover News</a></li>
        <li class="tab">
          <a href="#warning-tab">Climate Warnings</a>
        </li>
        <li class="tab">
          <a href="#weather-tab" class="active">Current Weather</a>
        </li>
        <li class="tab"><a href="#mapid">Climate Map</a></li>
        <li class="tab">
          <a href="#weather-forecast-div">Weather Forecast</a>
        </li>
      </ul>
      <!-- discover -->
      <div class="row" id="discover-tab">
        <div class="col s10 offset-s1 l10 offset-l1" id="discover-div">
          <div class="row">
            <div class="col s10 offset-s1" id="discover-list"></div>
          </div>
        </div>
      </div>

      <!-- warning -->
      <div class="row" id="warning-tab">
        <div class="col s10 offset-s1 l10 offset-l1" id="warning-div">
          <div class="row">
            <div class="col s10 offset-s1" id="warning-list"></div>
          </div>
        </div>
      </div>

      <!-- map place -->
      <div class="row">
        <div class="col s10 offset-s1" id="mapid"></div>
      </div>

      <!-- weather widget -->

      <div id="weather-tab">
        <div>
          <div id="weather_wrapper">
            <div class="weatherCard">
              <div class="currentTemp">
                <span class="temp"></span>
                <span class="location"></span>
              </div>
              <div class="currentWeather">
                <!-- <span class="conditions">&#xf00d;</span> -->

                <!-- <div class="hot weather-icon">
                  <span class="sun"></span>
                  <span class="sunx"></span>
                </div> -->
                <!-- <div class="cloudy weather-icon">
                  <span class="cloud"></span>
                  <span class="cloudx"></span>
                </div> -->
                <!-- <div class="stormy weather-icon">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <span class="snowe"></span>
                  <span class="snowex"></span>
                  <span class="stick"></span>
                  <span class="stick2"></span>
                </div> -->
                <!-- <div class="breezy weather-icon">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <span class="cloudr"></span>
                </div> -->
                <!-- <div class="night weather-icon">
                  <span class="moon"></span>
                  <span class="spot1"></span>
                  <span class="spot2"></span>
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div> -->
                <div class="info">
                  <span class="rain"></span>
                  <span class="wind"></span>
                </div>
              </div>
              <a
                style="
                  position: relative;
                  left: calc(-25% + 700px);
                  color: black;
                "
                href="https://openweathermap.org/"
                target="_blank"
                >Powered by open weather api
                <i class="material-icons tiny">open_in_new</i>
              </a>
              <img
                src="https://openweathermap.org/themes/openweathermap/assets/img/logo_white_cropped.png"
                alt="open weather api"
                style="position: relative; left: calc(-25% + 700px)"
              />
            </div>
          </div>
          >
        </div>
        <div class="row">
          <ul class="collapsible col l10 offset-l1 s12">
            <li>
              <div class="collapsible-header">
                <i class="fas fa-thermometer-half"></i>Current Temperature
              </div>
              <div class="collapsible-body currentTemp-detail">
                <span></span>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="fas fa-temperature-high"></i>
                Max Temperature
              </div>
              <div class="collapsible-body maxTemp-detail">
                <span></span>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="fas fa-temperature-low"></i>
                Min Temperature
              </div>
              <div class="collapsible-body minTemp-detail">
                <span></span>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="fas fa-thermometer-half"></i>
                Human feeling Temperature
              </div>
              <div class="collapsible-body humanFeel-detail">
                <span></span>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="fas fa-water"></i>
                Pressure
              </div>
              <div class="collapsible-body pressure-detail">
                <span></span>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="fas fa-tint"></i>
                Humidity
              </div>
              <div class="collapsible-body humidity-detail">
                <span></span>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="fas fa-wind"></i>
                Wind speed
              </div>
              <div class="collapsible-body wind-detail">
                <span></span>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="fas fa-cloud-showers-heavy"></i>
                Rainfall
              </div>
              <div class="collapsible-body rainfall-detail">
                <span></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- weather forecast widget from open weather -->
      <div class="row">
        <div id="weather-forecast-div" class="col offset-s4"></div>
      </div>
      <script src="//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js"></script>
      <script>
        window.myWidgetParam
          ? window.myWidgetParam
          : (window.myWidgetParam = []);
        window.myWidgetParam.push({
          id: 11,
          cityid: '2158177',
          appid: '54adf57bbc67acd54ea5288d3964f297',
          units: 'metric',
          containerid: 'weather-forecast-div',
        });
        (function () {
          var script = document.createElement('script');
          script.async = true;
          script.charset = 'utf-8';
          script.src =
            '//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(script, s);
        })();
      </script>
    </main>

    <!-- footer -->
    <footer class="page-footer blue accent-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Climate Change Website</h5>
            <p class="grey-text text-lighten-4">
              This Project is produced for my learning
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!">About Me</a>
              </li>
              <li><a class="grey-text text-lighten-3" href="#!">Email</a></li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Special thanks</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">© 2021 Copyright</div>
      </div>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
  </body>
</html>
