<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontend</title>
    <!-- google fonts  -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- jquery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon//favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon//favicon-16x16.png"
    />
    <link rel="manifest" href="./favicon//site.webmanifest" />
    <script src="js/private.js"></script>
    <link href="css/private.css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
    <nav class="blue accent-1">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="margin-left: 20px; font-size: 2vw"
          >Be Aware Of Climate Changes</a
        >
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down" id="header-bar">
          <li><a href="/charity">Charity</a></li>
          <li><a href="#">Donation</a></li>
          <li><a href="/admin">Admin Login</a></li>
          <li>
            <a class="waves-effect red lighten-1 btn" href="/logout">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav blue accent-1" id="mobile-demo">
      <li><a href="/charity">Charity</a></li>
      <li><a href="#">Donation</a></li>
      <li><a href="/admin">Admin Login</a></li>
      <li>
        <a class="waves-effect red lighten-1 btn" href="/logout">Log Out</a>
      </li>
    </ul>

    <main>
      <div class="row loader">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row user user-card">
        <div class="col l4 offset-l1 s12 m5 user-profile">
          <div class="row">
            <div class="col s12 m10 offset-m1">
              <div class="card">
                <div class="card-image">
                  <img src="asset/img_avatar.png" />
                </div>
                <div class="card-content user-info">
                  <div class="row">
                    <h7 class="col s6 l3" style="font-weight: bold"
                      >Username:</h7
                    >
                    <p class="col s6" id="username"></p>
                  </div>
                  <div class="row">
                    <h7 class="col s6 l3" style="font-weight: bold">City:</h7>
                    <p class="col s6" id="selected-city"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l6 s12 m7 edit-field">
          <div class="setting-container">
            <ul class="collapsible">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">email</i>Change Email
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="input-field col s10">
                      <input
                        placeholder="Placeholder"
                        id="change-email-input"
                        type="email"
                        class="validate"
                        disabled
                      />
                      <span
                        class="helper-text"
                        data-error="Please enter a valid email."
                      ></span>
                    </div>
                    <div class="col s2" style="margin-top: 20px">
                      <a id="enable-edit">
                        <i class="material-icons">edit</i></a
                      >
                    </div>
                  </div>
                  <a class="waves-effect waves-light btn" id="change-email-btn"
                    >submit</a
                  >
                </div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">security</i>Change Password
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <input id="old-password" type="password" class="validate" />
                    <label for="password">Old Password</label>
                    <br />
                    <span
                      class="helper-text"
                      data-error="Password must be a minimum of 8 characters."
                    ></span>
                  </div>
                  <div class="row">
                    <input id="new-password" type="password" class="validate" />
                    <label for="password">New Password</label>
                    <br />
                    <span
                      class="helper-text"
                      data-error="Password must be a minimum of 8 characters."
                    ></span>
                  </div>
                  <div class="row">
                    <input
                      id="new-password-confirm"
                      type="password"
                      class="validate"
                    />
                    <label for="password">Confirm New Password</label>
                    <br />
                    <span
                      class="helper-text"
                      data-error="Passwords do not match."
                    ></span>
                  </div>

                  <div class="row">
                    <a
                      class="waves-effect waves-light btn"
                      id="change-password-btn"
                      >submit</a
                    >
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">location_on</i>location
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="col s10">
                      <input id="input-city" type="text" class="validate" />
                      <label for="city">Input city name</label>
                    </div>
                    <div class="col s2" style="margin-top: 20px">
                      <a id="city-search-btn">
                        <i class="material-icons">search</i></a
                      >
                    </div>
                  </div>
                  <div class="collection" id="city-container"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
