<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontend</title>
    <!-- google fonts  -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- jquery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/signup.js"></script>
    <link href="css/signup.css" rel="stylesheet" media="screen,projection" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon//favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon//favicon-16x16.png"
    />
    <link rel="manifest" href="./favicon//site.webmanifest" />
  </head>
  <body>
    <nav class="blue accent-1">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="margin-left: 20px; font-size: 2vw"
          >Be Aware of Climate Changes</a
        >
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down" id="header-bar">
          <li><a href="/charity">Charity</a></li>
          <li><a href="/donation">Donation</a></li>
          <li><a href="/admin">Admin Login</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav blue accent-1" id="mobile-demo">
      <li><a href="/charity">Charity</a></li>
      <li><a href="/donation">Donation</a></li>
      <li><a href="/admin">Admin Login</a></li>
    </ul>
    <main>
      <center>
        <img src="asset/login.png" alt="login" />
        <h3>Sign Up</h3>
      </center>

      <div class="row">
        <div class="input-field col s10 offset-s1 l6 offset-l3">
          <input value="" id="username" type="text" class="validate" />
          <label class="active" for="username">Username</label>
          <span class="helper-text" id="username-span"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 offset-s1 l6 offset-l3">
          <input value="" id="email" type="email" class="validate" />
          <label class="active" for="email">Email</label>
          <span class="helper-text" id="email-span"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 offset-s1 l6 offset-l3">
          <input value="" id="password" type="password" class="validate" />
          <label class="active" for="password">Password</label>
          <span class="helper-text" id="password-span"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 offset-s1 l6 offset-l3">
          <input
            value=""
            id="confirm_password"
            type="password"
            class="validate"
          />
          <label class="active" for="confirm_password">Confirm Password</label>
          <span class="helper-text" id="confirm_password-span"></span>
        </div>
      </div>
      <div class="row">
        <button
          class="btn waves-effect waves-light col s10 offset-s1 l6 offset-l3"
          id="signupBtn"
          type="submit"
          name="action"
        >
          Sign Up
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="row">
        <div class="col s10 offset-s1 l6 offset-l3">
          <p>If you already have an account <a href="/login">login</a> here</p>
        </div>
      </div>
    </main>

    <footer class="page-footer blue accent-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Climate Change Website</h5>
            <p class="grey-text text-lighten-4">
              This Project is produced for my learning
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!">About Me</a>
              </li>
              <li><a class="grey-text text-lighten-3" href="#!">Email</a></li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Special thanks</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">© 2021 Copyright</div>
      </div>
    </footer>
  </body>
</html>
